@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#5e1f1f, #3c0f0f);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
}


/* calculator styling */

#calculator {
    height: 75vh;
    width: 35vw;
    border: solid #c0c0c0 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#output-container {
    height: 20%;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    background-color: #353535;
    border-top-left-radius: 6.25px;
    border-top-right-radius: 6.25px;
}

#output-text {
    margin-top: auto;
}

#all-clear-container {
    flex: 0 0 75%;
}

#zero-container {
    flex: 0 0 50%;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
}

.button-container {
    display: flex;
    width: 50%;
}

button {
    flex: 1;
    background-color: #696969;
    color: #fff;
    font-size: 3vw;
    border: solid #000 1px;
}

button:active {
    background-color: #a2a2a2;
}

#calc-0, #dec-point, #equals {
    border-bottom: none;
}

#calc-0 {
    border-bottom-left-radius: 6.25px;
}

#equals {
    border-bottom-right-radius: 6.25px;
}

button #all-clear, #calc-7, #calc-4, #calc-1, #calc-0 {
    border-left: none;
}

.operator {
    border-right: none;
    background-color: #ee8b17;
}

.operator:active {
    background-color: #b6690d;
}