@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#5e1f1f, #3c0f0f);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#calculator {
    height: 75vh;
    width: 35vw;
    border: solid red 2px;
    border-radius: 8px;
}


/* table stlying */

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    height: 10vh;
    border: solid blue 2px;
}

.table-row {
    border: solid black 2px;
    width: 100%;
}

td {
    border: solid black 2px;
}

#all-clear, #divide {
    width: 50%;
}

.number, .operator {
    width: 25%;
}

#calc-0 {
    width: 33%;
}